<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}A la découverte de Windows Azure{% endblock %}</title>
    {% block javascripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    {% endblock %}
    {% block stylesheets %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap-cosmo.css') }}" />
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('raspberry_home_index') }}">A la découverte de Windows Azure : Ma webcam</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ path('raspberry_home_capture') }}">Capturer</a></li>
                    <li><a href="http://kitazurediscoveryadmin.azurewebsites.net/">Enregistrer mon site</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        {% block body %}
        {% endblock %}
        <hr />
        <footer>
            <p>© {{ 'now'|date('Y') }} - Ma webcam</p>
        </footer>
    </div>
</body>
</html>